# Archivos y directorios de Node.js
node_modules/
npm-debug.log*
.npmrc
package-lock.json
yarn.lock

# Archivos de compilación
dist/
build/
*.log

# Editor de código
.idea/
.vscode/

# Archivos de configuración específicos del sistema
.DS_Store
Thumbs.db

# Archivos de sesión de navegadores
*.session
*.cache
*.localstorage

# Archivos temporales
temp/
tmp/

# Archivos de logs
logs/